# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Streamlit secrets (VERY IMPORTANT)
.streamlit/secrets.toml

# Output files
outputs/
*.json
*.csv

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log